<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Nosotros</h2>
    <p>PEstamos juntos desde hace casi dos años y precisamente escogimos la fecha de nuestra boda, porque es nuestro segundo aniversario. Nos conocimos no sabemos cuando, ya que hemos coincidido en lugares y con amigos comunes desde hace muchos pero muchos años!!!</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Nuestra historia es la confirmación de la sincronía del perfecto coincidir.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>“Cuenta la leyenda que un hilo rojo invisible conecta a aquellos que están destinados a encontrarse, sin importar el momento, el lugar o las circunstancias. El hilo puede alargarse o enredarse, pero nunca se romperá”.</p>
  </div>
</section>
