<div class="inner">
  <header class="major">
    <h2>La Bolsa de Viaje</h2>
    <p>Pablo y Liza han soñado por mucho tiempo con conocer la <a href="https://es.wikipedia.org/wiki/Aurora_polar"> Aurora Boreal</a>. Puedes ayudarles a cumplir su sueño haciendo una contribución a su Bolsa de Viaje, la cual tienen registrada en la agencia de viajes <a href="http://www.reyestours.com/">Reyes Tours</a>.</p>
  </header>
    <h4><a href="http://www.reyestours.com/">Visita la Bolsa de Viaje de Pablo y Liza.</a></h4>
</div>
