<div class="inner">
  <header class="major">
    <h2>Los Regalos</h2>
    <p>Uno de nuestros sueños, es conocer la <a href="https://es.wikipedia.org/wiki/Aurora_polar"> Aurora Boreal</a> que se observa en el punto más norte del planeta, incluso más al norte que el círculo polar ártico, en la Laponia Finlandesa.</p>

    <p>Por eso, nos encantaría que nuestros invitados participaran de este sueño con su contribución a nuestra Bolsa de Viaje que creamos en la Agencia <a href="http://www.reyestours.com/">Reyes Tours</a>.</p>

    <p>Agente Responsable</p>

    <p> <b>Maria Fernanda Tovar</b><br>
		<b>Travel Consultant</b><br>
		<b>Reyes Tours</b><br>
		Carrera 9 # 80-15 Oficina 204<br>
		PBX (+57 1) 2489500 EXT: 121<br>
		CELULAR (+57) 3102446287<br>
		<a href="http://www.reyestours.com/">www.reyestours.com</a>.</p>
  </header>
</div>
